.card {
  border-radius: 25px;
  padding: 20px;
  border: 2px solid black;
  max-width: 50%;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  color: #333;
  font-size: 18px;
}

.upper-spacing{
  padding-top: 20px;
  padding-bottom: 20px;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:#9a5ed0;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
}

a {
  font-size: 22px;
  color: white;
}

button:hover,
a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.name-font {
  font-size: 20px;
  color: #333;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.icons {
  letter-spacing: 19px;
}
