<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- <center>
    <div>
      <span>Hello there, This is Ahmed Sakri</span>
      <img  src="../../public/stylesheets/img_avatar.png" border-radius="50%">
      
    </div>
    <p>Hello World!!!!!</p>
  </center> -->
  <div class="card">
    <h2 style="text-align:center">User Profile Card</h2>

    <div class="card">
      <img src="http://icons.iconarchive.com/icons/designbolts/free-male-avatars/128/Male-Avatar-Cool-Sunglasses-icon.png"
        alt="Avatar" style="width:200px">
      <h1><b>Ahmed Sakri</b></h1>
      <h2 class="title">Internee, Shopsense Retail Technologies</h2>
      <h3>Mumbai University</h3>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin nisl ligula, sit amet ullamcorper
        lacus interdum vel. Sed dignissim tincidunt felis, sit amet consequat quam malesuada id. Cras ac nulla sit
        amet
        odio euismod porttitor. Cras lorem libero, ornare quis sollicitudin et, imperdiet non massa. Cras vel sapien
        eu
        neque consequat molestie vel vel mauris. Aliquam suscipit condimentum lacus, non congue nunc elementum a.
        Nunc
        non suscipit quam. Pellentesque sit amet malesuada sem. Nullam vel magna condimentum, elementum quam tempor,
        lacinia tortor. Donec dictum, leo at fermentum pharetra, libero sem sagittis lectus, vitae cursus nibh lorem
        a
        mauris. Aenean vel velit accumsan, pulvinar metus id, lobortis dui. Sed elit mi, interdum ut malesuada in,
        lobortis sed urna. Quisque aliquet mattis augue ut pretium. Fusce elementum ut ligula nec tristique.
      </div>
      <div>
        Aliquam eget dapibus leo. Integer posuere metus lacus, vitae feugiat nulla interdum ac. Donec sem velit,
        viverra fringilla tristique sit amet, dignissim sit amet nunc. Cras quis laoreet ipsum. Ut eu mauris eu lorem
        bibendum venenatis id non tellus. Quisque vel dui vitae elit lobortis egestas non at ligula. Nullam rutrum
        imperdiet neque varius blandit. Sed vel auctor erat, nec euismod lectus.
      </div>
      <div>
        Nunc volutpat, orci mattis molestie egestas, augue erat ultrices magna, ut ultrices magna ex et risus. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc consectetur, eros
        sed consequat ornare, velit ex blandit nisl, non dignissim lectus felis molestie elit. Aliquam nisi metus,
        ornare sit amet urna id, molestie pretium felis. Praesent dapibus aliquam iaculis. Phasellus ac nisi lectus. Ut
        porta enim imperdiet turpis luctus, a eleifend velit sagittis. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
      </div>
      <div>
        Morbi enim dolor, tincidunt id dignissim et, mollis sit amet lacus. Maecenas venenatis, magna a tempor maximus,
        justo enim dictum turpis, eget luctus turpis mauris a nunc. Duis viverra justo vel nisl sagittis ullamcorper.
        Suspendisse ut risus ullamcorper, pretium dui vitae, laoreet lectus. Morbi a euismod mi. Etiam in metus sit
        amet ligula ullamcorper ornare. Aenean vulputate volutpat est, et tempus dui tincidunt vitae. Nullam iaculis
        sodales erat. In scelerisque est lorem, quis pellentesque lectus venenatis et. Duis vestibulum eget odio ut
        finibus.
      </div>
      <div style="margin: 24px 0;">
        <a href="https://www.twitter.com/ahmedsakri98"><img src="https://png.icons8.com/ios/1600/twitter.png" alt="Twitter"
            style="width:30px"></a>
        <a href="https://www.facebook.com/ahmedsakri25"><img src="https://png.icons8.com/ios/1600/facebook.png" alt="Facebook"
            style="width:30px"></a>
        <a href="https://www.instagram.com/ahmedsakri1998"><img src="https://png.icons8.com/ios/1600/instagram-new.png"
            alt="Instagram" style="width:30px"></a>
      </div>
      <p><button onclick="">Contact Me</button></p>
    </div>
  </div>
</body>

</html>